asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==5.1.2
django-cors-headers==4.5.0
django-crispy-forms==2.3
django-rest-framework==0.1.0
djangorestframework==3.15.2
sqlparse==0.5.1
typing_extensions==4.12.2
asgiref==3.8.1
Django==5.1.2
django-crispy-forms==2.3
djangorestframework==3.15.2
sqlparse==0.5.1
