{% include 'head.html' %}
{% include 'navbar.html' %}
{% load static %}

    <main class="container d-flex align-items-center" style="height: 80vh;">
        <div class="w-50 text-center">
            <h2>Logowanie</h2>
            <div>
            <form method="POST" action="">
                {% csrf_token %}
                {{form}}
                <div>
                    <button type="submit">Zaloguj się</button>
                </div>
            </form>

            {% for msg in messages %}
            {{msg}}
            {% endfor %}
            </div>
        </div>
        <div class="w-50 text-center">
            <img src="{% static 'id-card-icon.svg' %}" alt="" width="300" height="300" class="d-inline-block align-text-top">
        </div>
    </main>
{% include 'footer.html' %}