{% include 'head.html' %}
{% include 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}

    <main class="container d-flex align-items-start justify-content-center">
        <div class="w-50 text-center mt-5">  <!-- Zwiększony margines górny -->
            <h2>Zarejestruj firmę</h2>
            <div class="w-75 mx-auto">  <!-- Szerokość formularza -->
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form|crispy}}  <!-- Zastosowanie crispy forms -->
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Zarejestruj firmę</button>  <!-- Stylizacja przycisku -->
                    </div>
                </form>

                <!-- Wiadomości o błędach / powodzeniu -->
                {% for msg in messages %}
                    <div class="alert alert-info mt-3">{{ msg }}</div>
                {% endfor %}
            </div>
        </div>
    </main>

    {% include 'footer.html' %}
