{% include 'head.html' %}
{% include 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}

<main class="container d-flex align-items-start justify-content-center" style="height: 100vh;">
    <div class="w-50 text-center mt-5">  <!-- Zwiększony margines górny z mt-3 na mt-5 -->
        <h2>Zarejestruj się</h2>
        <div class="w-75 mx-auto">
            <form method="POST" action="">
                {% csrf_token %}
                <!-- Pola formularza z Crispy Forms -->
                <div class="row mb-4">
                    <label for="id_first_name">Imię</label>
                    {{form.first_name|as_crispy_field}}
                </div>
                <div class="row mb-4">
                    <label for="id_last_name">Nazwisko</label>
                    {{form.last_name|as_crispy_field}}
                </div>
                <div class="row mb-4">
                    <label for="id_username">Nazwa użytkownika</label>
                    {{form.username|as_crispy_field}}
                </div>
                <div class="row mb-4">
                    <label for="id_email">Email</label>
                    {{form.email|as_crispy_field}}
                </div>
                <div class="row mb-4">
                    <label for="id_password1">Hasło</label>
                    {{form.password1|as_crispy_field}}
                </div>
                <div class="row mb-4">
                    <label for="id_password2">Potwierdź hasło</label>
                    {{form.password2|as_crispy_field}}
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                </div>
            </form>

            <!-- Wiadomości o błędach / powodzeniu -->
            {% for msg in messages %}
                <div class="alert alert-info mt-3">{{ msg }}</div>
            {% endfor %}
        </div>
    </div>

    <!-- Dodatkowa sekcja z grafiką (opcjonalnie) -->
    <div class="w-50 text-center mt-5">
        <img src="{% static 'id-card-icon.svg' %}" alt="" width="300" height="300" class="d-inline-block align-text-top" style="transform: rotate(-18deg);">
    </div>
</main>

{% include 'footer.html' %}
