{% include 'head.html' %}
{% include 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}

<main class="container d-flex flex-column align-items-center justify-content-center text-center">
    <h2 class="mb-5">{% if edit %}Edytuj ofertę{% else %}Dodaj ofertę{% endif %}</h2>

    <div class="col-md-8">
        <form action="{% if edit %}{% url 'editOffer' id %}{% else %}{% url 'addOffer' %}{% endif %}" id="form" method="post">
            {% csrf_token %}

            <!-- Automatyczne renderowanie formularza za pomocą Crispy Forms -->
            {{ form|crispy }}

            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary me-3" type="submit">{% if edit %}Edytuj{% else %}Dodaj{% endif %}</button>
                <a href="{% url 'your_offers' %}" class="btn btn-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</main>

{% include 'footer.html' %}
