<!DOCTYPE html>
<head>

</head>
<body>
    <div>
        <h2> {{ offer.title }} </h2>
        <img src="{{offer.employerLogo}}">
        <b>Employer: {{ offer.employer }} </b>
        <p>Location: {{offer.location}} </p>
        <p> salary: {{ offer.salary }} zł/mc</p>
        <p> open from {{ offer.dateAdded }} to {{ offer.dateExpired }}</p>
        <p> Type of work: {{offer.typeOfWork}}</p>
        <p> contract: {{offer.contract}}</p>
        <p>Operating mode: {{offer.operatingMode}}</p>
        <h3>Description </h3>
        <p> {{ offer.jobDescription }} </p>
        <h3>Required skills</h3>
        <p> {{ offer.requiredSkills }}</p>
        {% if applied %}
            <span>Applied</span>
        {% else %}
            <a href="{% url 'apply' offer.pk %}">Apply</a>
        {% endif %}
    </div>


</body>

</html>
