{% include 'head.html' %}
{% include 'navbar.html' %}
{% load static %}

    <main class="container d-flex align-items-center">
        <h2> {{ offer.title }} </h2>
        <img src="{{offer.employerLogo}}">
        <b>Employer: {{ offer.employer }} </b>
        <p>Location: {{offer.location}} </p>
        <p> salary: {{ offer.salary }} zł/mc</p>
        <p> open from {{ offer.dateAdded }} to {{ offer.dateExpired }}</p>
        <p> Type of work: {{offer.typeOfWork}}</p>
        <p> contract: {{offer.contract}}</p>
        <p>Operating mode: {{offer.operatingMode}}</p>
        <h3>Description </h3>
        <p> {{ offer.jobDescription }} </p>
        <h3>Required skills</h3>
        <p> {{ offer.requiredSkills }}</p>
        <button>Apply</button>
    </main>
{% include 'footer.html' %}