{% include 'head.html' %}
{% include 'navbar.html' %}
{% load static %}

<main class="container d-flex flex-column align-items-center">
    <h2 class="text-center">{{ offer.title }}</h2>
    <div class="w-75 text-center">  <!-- Ustawienie szerokości na 75% -->
        <b>Pracodawca: {{ offer.employer }}</b><br>
        <p>Lokalizacja: {{ offer.location }}</p>
        <p>Wynagrodzenie: {{ offer.salary }} zł/mc</p>
        <p>Otwarte od {{ offer.dateAdded }} do {{ offer.dateExpired }}</p>
        <p>Typ pracy: {{ offer.typeOfWork }}</p>
        <p>Rodzaj umowy: {{ offer.contract }}</p>
        <p>Tryb pracy: {{ offer.operatingMode }}</p>
        
        <h3 class="mt-4">Opis</h3>
        <p>{{ offer.jobDescription }}</p>
        
        <h3 class="mt-4">Wymagane umiejętności</h3>
        <p>{{ offer.requiredSkills }}</p>
        
        <button class="btn btn-primary mt-3">Dołącz do pokoju</button>  <!-- Dodana stylizacja przycisku -->
    </div>
</main>

{% include 'footer.html' %}
