{% include 'head.html' %}
{% include 'navbar.html' %}
{% load static %}

<main class="container">
    <div class="col">
        <div class="row mb-4">
            <h2>Oferty pracy</h2>
        </div>
        <div class="row">
            {% for offer in jobs %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'details' offer.pk %}">{{ offer.title }}</a>
                        </h5>
                        <p class="card-text">
                            <b>Pracodawca:</b> {{ offer.employer }}
                        </p>
                        <p class="card-text">
                            <b>Zarobki:</b> {{ offer.salary }} zł/mc
                        </p>
                        <p class="card-text">
                            <b>Otwarte do:</b> {{ offer.dateExpired }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% include 'footer.html' %}
