<!DOCTYPE html>
<head>

</head>

<body>
    <div>
        <h2>Job offers</h3>
        {% for offer in jobs %}
            <p>------------------------------------------</p>
            <a href="{% url 'details' offer.id%}">{{ offer.title }}<br></a>
            <img src="{{offer.employerLogo}}">
            <b>{{ offer.employer }} </b>
            <p> salary: {{ offer.salary }} zł/mc</p>
            {% now "DATE_FORMAT" as current_time %}
            <p> open for {{ offer.dateExpired }}</p>

        {% endfor %}
    </div>


</body>

</html>