<!DOCTYPE html>
<head>

</head>

<body>
    <div>
        <h2>Job offers</h2>
        <a href="{% url 'addOffer' %}">Dodaj</a>
        {% for offer in jobs %}
            <p>------------------------------------------</p>
            <a href="{% url 'details' offer.id %}">{{ offer.title }}<br></a>
            <b>{{ offer.employer }} </b>
            <p> salary: {{ offer.salary }} zł/mc</p>
            {% now "DATE_FORMAT" as current_time %}
            <p> open for {{ offer.dateExpired }}</p>
            <a href="{% url 'editOffer' offer.id %}">Edytuj</a>
            <a href="{% url 'openRoom' offer.id %}">Otwórz pokój</a>
            <a href="{% url 'delete' id=offer.id %}" class="btn btn-danger mt-3">Usuń</a>
        {% endfor %}
    </div>
</body>

</html>
