{% include 'head.html' %}
{% include 'navbar.html' %}
{% load static %}

<main class="container">
    <div class="row mb-4">
        <div class="col d-flex justify-content-between align-items-center">
            <h2>Job Offers</h2>
            <a href="{% url 'addOffer' %}" class="btn btn-primary">Dodaj ofertę</a>
        </div>
    </div>
    <div class="row">
        {% for offer in jobs %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'details' offer.id %}">{{ offer.title }}</a>
                    </h5>
                    <p class="card-text">
                        <b>Pracodawca:</b> {{ offer.employer }}
                    </p>
                    <p class="card-text">
                        <b>Zarobki:</b> {{ offer.salary }} zł/mc
                    </p>
                    <p class="card-text">
                        <b>Otwarte do:</b> {{ offer.dateExpired }}
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'editOffer' offer.id %}" class="btn btn-warning btn-sm">Edytuj</a>
                    <a href="{% url 'delete' id=offer.id %}" class="btn btn-danger btn-sm">Usuń</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% include 'footer.html' %}
